@tailwind base;
@tailwind components;
@tailwind utilities;

.primary{
    color:#006D77;
  }
.secondary{
    background-color:#71bcb5 ;
  }
.secondary:hover{
    background-color: #006D77;
}
.subTitle{
    color: #0b556a;
}
.normalText{
    color: #50676e;
}

.bgColor{
    background-color: #EDF6F9;
}

.warning{
    background-color: rgb(244, 192, 49);
}

.delete{
    background-color: #f34d36;
}

.icon{
    display: inline;
}