@tailwind base;
@tailwind components;
@tailwind utilities;

.primary{
    color:#023047;
  }
.secondary{
    background-color:#219ebc ;
  }
.secondary:hover{
    background-color: #006D77;
}
.subTitle{
    color: #023047;
}
.normalText{
    color: #0b556a;
}

.bgColor{
    background-color: #8ecae6;
}

.dateBg{
    color: #3e3f3f;
    background-color: #F1F5F9;
    border-color: #3e3f3f;
}

.icon{
    display: inline;
}

.DivWithScroll{
    height:550px;
    overflow:scroll;
    overflow-x:hidden;
}
